Repository openshift/cluster-storage-operator, pull requests merged in 2020-07, with the labels that each got.

#57 Bug 1835869: Updates validation to check for VolumeSnapshotClass and VolumeSnapshotContent
  pkg/controller/clusterstorage/clusterstorage_controller.go
  pkg/controller/validation/check_snapshot.go
  pkg/controller/validation/check_snapshot_test.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#60 Bug 1846112: Includes validation check for VolumeSnapshot v1alpha1 CRDs
  manifests/01-cluster-role.yaml
  pkg/controller/clusterstorage/clusterstorage_controller.go
  pkg/controller/clusterstorage/clusterstorage_controller_test.go
  pkg/controller/validation/check_snapshot.go
  pkg/controller/validation/check_snapshot_test.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm

#62 Fix installation on usupported platforms like oVirt
  pkg/operator/defaultstorageclass/controller.go
  pkg/operator/defaultstorageclass/controller_test.go
Labels: approved, lgtm

#65 Add oVirt and manila to CSO
  Makefile
  assets/csidriveroperators/manila/01_namespace.yaml
  assets/csidriveroperators/manila/02_sa.yaml
  assets/csidriveroperators/manila/03_role.yaml
  assets/csidriveroperators/manila/04_rolebinding.yaml
  assets/csidriveroperators/manila/05_clusterrole.yaml
  assets/csidriveroperators/manila/06_clusterrolebinding.yaml
  assets/csidriveroperators/manila/07_deployment.yaml
  assets/csidriveroperators/manila/08_cr.yaml
  assets/csidriveroperators/manila/09_credentials.yaml
  assets/csidriveroperators/ovirt/01_namespace.yaml
  assets/csidriveroperators/ovirt/02_sa.yaml
  assets/csidriveroperators/ovirt/03_role.yaml
  assets/csidriveroperators/ovirt/04_rolebinding.yaml
  assets/csidriveroperators/ovirt/05_clusterrole.yaml
  assets/csidriveroperators/ovirt/06_clusterrolebinding.yaml
  assets/csidriveroperators/ovirt/07_deployment.yaml
  assets/csidriveroperators/ovirt/08_cr.yaml
  assets/csidriveroperators/ovirt/09_credential_request.yaml
  manifests/04_deployment.yaml
  manifests/image-references
  pkg/generated/bindata.go
  pkg/operator/csidriveroperator/crcontroller.go
  pkg/operator/csidriveroperator/csioperatorclient/manila.go
  pkg/operator/csidriveroperator/csioperatorclient/ovirt.go
  pkg/operator/csidriveroperator/csioperatorclient/types.go
  pkg/operator/csidriveroperator/driverstarter.go
  pkg/operator/starter.go
  vendor/github.com/openshift/library-go/pkg/operator/csi/credentialsrequestcontroller/credentials_request_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/resourcesynccontroller/core.go
  vendor/github.com/openshift/library-go/pkg/operator/resourcesynccontroller/interfaces.go
  vendor/github.com/openshift/library-go/pkg/operator/resourcesynccontroller/resourcesync_controller.go
  vendor/modules.txt
Labels: approved, lgtm
